@using BeInEvent.Models
@model ApplicationUser
@{
    Layout = "~/Views/Shared/_Admin.cshtml";

    SelectList users = ViewBag.users;
    if (TempData["result"] != null)
    {
        ViewBag.result = TempData["result"].ToString();
    }
}
<div class="container">


    <h2 class="text-center text-info">
        @ViewBag.result

    </h2>
    @using (Html.BeginForm("delete", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownListFor(Model => Model.Id, users as SelectList)
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <input type="submit" value="Remove Admin" class="btn btn-primary" />
            </div>

        </div>

    }
</div>
