@using BeInEvent.Models
@model Message
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container">
    <form method="post" class="form-group">

        <span>
            
                @Html.LabelFor(a => a.Email)
            
            <span>
                @Html.TextBoxFor(a => a.Email, new { @readonly = "readonly",@class = "form-control" })
            </span>

        </span>
        <span>
            @Html.LabelFor(a => a.ReportMessage)
            <span>
                @Html.TextBox("Replay",null, new { @class = "form-control" })
            </span>
         </span>

            <div>

                <input value="Send" type="submit" />
            </div>

</form>
    
</div>
